<div id="feature">
    <div id="content">
        <h1>Virto Commerce storefront has been successfully deployed</h1>
        <p>Looks like you're missing a theme :(</p>
        @if (Model != null)
        {
            <p>We looked for 'index.liquid' view in the following locations</p>
            <ul>
                @foreach (var searchedLocation in Model.SearchedLocations)
                {
                    <li>
                        @searchedLocation
                    </li>
                }
            </ul>
        }
        <p>It simple to fix: follow our instructions to download and correctly configure theme for your storefront.</p>
        <a href="https://github.com/VirtoCommerce/vc-default-theme" class="button" id="btnAdmin">Let's start!</a>
    </div>
</div>

