<div id="feature">
    <div id="content">
        <h1>Virto Commerce storefront has been successfully deployed</h1>
        <p>
            There's no store yet, but Virto Commerce Manager makes it simple to create a new one!
        </p>
        <a href="/admin" class="button" id="btnAdmin">Let's start!</a>
    </div>
</div>


